<sebm-google-map [latitude]="lat" [longitude]="lng">
    <sebm-google-map-marker *ngFor="let park of parkList"
                            [latitude]="park.location[0]"
                            [longitude]="park.location[1]"
                            (markerClick) = "markerClicked(park.id)">
        <sebm-google-map-info-window [disableAutoPan]="true">
          <ol>
            <li>Name: {{park.name}}</li>
            <li>Address: {{park.addresse}} </li>
            <li>Places: {{park.add}}</li>
          </ol>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>
</sebm-google-map>
