div.transbox {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
  top: 0px;
  left: 0px;
}

div.transbox:hover {
  cursor: move;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
